<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Favorites
    </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="cog-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="card">   
  <ion-card class="content" *ngFor="let item of quotesList">
    <div class="image-star-block">
      <img src="../../../assets/img/avatar.jpg" class="pic"/>
      <ion-icon class="heart" (click)="removeFromFavorites(item)" name="heart"></ion-icon>
    </div>
    <p class="main-text">
      {{item.content}}       
    </p>    
         
    <p class="signature">
      {{item.author}}
    </p>
  </ion-card>
</ion-content>
