<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="cog-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!--*ngIf="results"-->
<ion-content class="card">   
  <ion-card class="content" *ngIf="isfav">
    <div class="image-star-block">
      <img src="../../../assets/img/avatar.jpg" class="pic"/>

      <ion-icon *ngIf="isfav.fav == false" class="heart" (click)="addToFavorites()" name="heart-outline"></ion-icon>
      <ion-icon *ngIf="isfav.fav == true" class="heart" (click)="addToFavorites()" name="heart"></ion-icon>
    </div>
    <p class="main-text">
      {{isfav.result.content}} 
      <!--{{results.content}}-->       
    </p>    
         
    <p class="signature">
      {{isfav.result.author}}
      <!--{{results.author}}-->
    </p>
  </ion-card>
  <ion-button class="button-generate" (click)="loadQuote()" expand="block">
    Generate quote
  </ion-button>   
</ion-content>
