<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Filters
    </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="cog-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>  
  <ion-searchbar></ion-searchbar>
  <ion-card class="tag-card">
    <p class="content-length">Search option:</p>
    <ion-list>
      <ion-radio-group [allowEmptySelection]="false" value="authors">
        <ion-item>
          <ion-label>Authors</ion-label>
          <ion-radio slot="end" value="authors"></ion-radio>
        </ion-item>
    
        <ion-item>
          <ion-label>Tags</ion-label>
          <ion-radio slot="end" value="tags"></ion-radio>
        </ion-item>
</ion-radio-group>
</ion-list>
  </ion-card>
  <ion-card class="content-length-card">
    <p class="content-length">Content length:</p>
    <ion-list>
      <ion-radio-group [allowEmptySelection]="false" value="category1">
        <ion-item>
          <ion-label>0 - 49</ion-label>
          <ion-radio slot="end" value="category1"></ion-radio>
        </ion-item>
    
        <ion-item>
          <ion-label>50 - 99</ion-label>
          <ion-radio slot="end" value="category2"></ion-radio>
        </ion-item>
    
        <ion-item>
          <ion-label>100 - 149</ion-label>
          <ion-radio slot="end" value="category3"></ion-radio>
        </ion-item>
    
        <ion-item>
          <ion-label>150 +</ion-label>
          <ion-radio slot="end" value="category4"></ion-radio>
        </ion-item>
        
      </ion-radio-group>
    </ion-list>
  </ion-card>
</ion-content>

